cat /usr/lib/systemd/system/docker.service

cat /etc/sysconfig/docker
# Modify these options if you want to change the way the docker daemon runs
OPTIONS="--selinux-enabled --dns 8.8.8.8 --insecure-registry 192.168.1.18:5000 -H tcp://0.0.0.0:4243 -H unix:///var/run/docker.sock"

DOCKER_CERT_PATH=/etc/docker  
